block variables

doctype html
html(class=htmlClass lang='en')
    head
        title=title+' - Bootstrap Boilerplate'||'Bootstrap Boilerplate'
        meta(charset='utf-8')
        meta(name='robots' content='index, follow')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
        meta(http-equiv='x-ua-compatible' content='ie=edge')
        meta(name='description' content=description||'A basic Bootstrap starter template')
        link(rel='icon' href='favicon.ico')
        link(rel='stylesheet' href='css/main.css')
        block style
        body(class=bodyClass)
            block content
        script(src='js/main.js')
        block script
